{% load static %}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            {% for cat in all_category %}
            {% if cat.category_name == 'SPORTWEAR' %}
            <div class="panel panel-default">
                <div class="panel-heading">


                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian"
                            href="#{{cat.category_name}}?category={{cat}}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{cat.category_name}}
                        </a>
                    </h4>
                </div>
                <div id="{{cat.category_name}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Nike </a></li>
                            <li><a href="#">Under Armour </a></li>
                            <li><a href="#">Adidas </a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">ASICS </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% elif cat.category_name == 'MENS' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian"
                            href="#{{cat.category_name}}?category={{cat}}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{cat.category_name}}
                        </a>
                    </h4>
                </div>
                <div id="{{cat.category_name}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Fendi</a></li>
                            <li><a href="#">Guess</a></li>
                            <li><a href="#">Valentino</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Versace</a></li>
                            <li><a href="#">Armani</a></li>
                            <li><a href="#">Prada</a></li>
                            <li><a href="#">Dolce and Gabbana</a></li>
                            <li><a href="#">Chanel</a></li>
                            <li><a href="#">Gucci</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% elif cat.category_name == 'WOMENS' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian"
                            href="#{{cat.category_name}}?category={{cat}}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{cat.category_name}}
                        </a>
                    </h4>
                </div>
                <div id="{{cat.category_name}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Fendi</a></li>
                            <li><a href="#">Guess</a></li>
                            <li><a href="#">Valentino</a></li>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Versace</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a
                            href="{% url 'main:search_cat' %}?category={{cat}}">{{cat.category_name}}</a></h4>
                </div>


            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!--/category-products-->
        <div class="brands_products">
            <!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">

                    {% for br in all_brand %}

                    <li><a href="{% url 'main:brand' %}?brand={{br}}"> <span
                                class="pull-right">{{br.brand.count}}</span>{{br}}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <!--/brands_products-->

        <div class="price-range">
            <!--price-range-->
            <h2>Price Range</h2>
            <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5"
                    data-slider-value="[250,450]" id="sl2"><br />
                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
        </div>
        <!--/price-range-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="{% static 'images/home/shipping.jpg' %}" alt="" />
        </div>
        <!--/shipping-->

    </div>
</div>